* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "JetBrains Mono",monospace;
    text-align: center;
    background-color: #303030;
    color: #4153df;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-bottom: 10px;
}

button:hover {
    transform: translateY(-2px);
}

button.active {
    background-image: radial-gradient(100% 100% at 100% 0, #56a8be 0, #535fb9 100%);
    box-shadow: #2d3886 0 3px 7px inset;
    transform: translateY(2px);
}

.title {
    font-size: 44px;
    padding: 42px 0px;

}

.main {
    display: flex;
    justify-content: center;
    gap: 35px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    margin-right: 22px;
}

.colorCard {
    display: flex;
    gap: 5px;
}

.colorCard span{
    padding: 1em;
}
  
input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 4em;
    width: 5em;
    padding: 0;
}

#sketchpad {
    width: 660px;
    height: 660px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 1px solid #000;
    cursor: crosshair;
    user-select: none;
}
  
.gridItem {
    border: 1px solid #000;
}

.footer {
    margin-top: 100px;
}
